<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>文章首頁</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<body>
<div class="container ">
  <div class="alert-success text-center" th:if="${message}"></div>
  <div class=".container bg-dark">
    <div class="d-flex justify-content-around">
      <nav class="navbar navbar-expand">
        <div class="collapse navbar-collapse mx-2">
          <ul class="nav navbar-nav">
            <li class="nav-item"><a class="nav-link text-white" th:href="@{/articles/new}">寫文章</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="p-5">
    <table class="table table-striped">

      <tbody>
        <tr>
          <td class="text-center">編號</td>
          <td class="text-center">標題</td>
        </tr>
        <th:block th:each="article: ${listArticles}">
          <tr>
            <td class="text-center py-5">[[${article.id}]]</td>
            <td>
              <div class="d-flex justify-content-start">
                <a th:href="@{'/articles/show/'+ ${article.id}}"><p class="fs-3 fw-bold">[[${article.title}]]</p></a>
              </div>
            </td>
          </tr>
        </th:block>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>