<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container">
    <form th:action="@{/users/save}" method="post" th:object="${user}">
        <input type="hidden" th:field="*{id}">
        <div class="vh-100 gradient-custom bg-light">
            <div class=" h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 ">
                        <div class="card bg-dark text-white" style="border-radius: 2rem;">
                            <div class="card-body p-5 text-center">
                                <div class="mb-md-5 mt-md-4 pb-5">
                                    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                                    <p class="text-white-50 mb-5">Please enter account name and password!</p>
                                    <div class="mb-4">
                                        <input type="text" th:field="*{nickName}" placeholder="Nickname" class="form-control form-control-lg" required minlength="2" maxlength="45"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" th:field="*{account}" placeholder="Account" class="form-control form-control-lg" required minlength="2" maxlength="45"/>
                                    </div>
                                    <div class="form-outline mb-4">
                                        <input type="text" th:field="*{password}" placeholder="Password" class="form-control form-control-lg" required minlength="2" maxlength="45"/>
                                    </div>

                                    <div class="d-flex justify-content-around">
                                        <button type="submit" class="btn btn-outline-light btn-lg px-5" >Save</button>
                                        <button onclick="history.back()" type="button" class="btn btn-outline-light btn-lg px-5" >Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function cancelForm() {
        window.location="[[@{/}]]";
    }
</script>
</body>
</html>